{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'delete_quote_header' %}{% endblock %}
{% block content %}
    <div class="container align-content-center justify-content-center">
        <h2 class="py-3 text-center m-3">{% trans 'quote_delete_text' %}</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="align-center">
                <img src="{% static 'img/korben.jpg' %}" alt="" class="align-center img-thumbnail rounded-5">
            </div>
            <div class="container mt-3">
                <button class="btn btn-primary mx-2" type="submit">{% trans 'b_delete_quote' %}</button>
                <a href="{% url 'quotes:by_id' pk=object.id %}" class="btn btn-secondary opacity-75" role="button">{% trans 'back' %}</a>
            </div>
        </form>
    </div>
{% endblock %}