{% load i18n %}
{% load static %}
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <nav class="navbar navbar-expand-lg rounded">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="{% static 'img/logotype.jpg' %}" alt="logo" class="bi me-3 rounded" width="60" height="50">
        </a>
        <ul class="nav nav-pills">
            {% with request.resolver_match as rm%}
                <li class="nav-item"><a href="{% url 'index' %}"
                                        class="nav-link {% if rm.view_name == 'index' %}active{% endif %}">{% trans 'home' %}</a>
                </li>
                <li class="nav-item"><a href="{% url 'search:overview' %}"
                                        class="nav-link {% if rm.namespace == 'search' %}active{% endif %}">{% trans 'overview' %}</a>
                </li>
                {% if user.is_active %}
                    <li class="nav-item"><a href="{% url 'quotes:create' %}"
                                            class="nav-link {% if rm.namespace == 'quotes' %}active{% endif %}">{% trans 'create_quote' %}</a>
                    </li>
                    <li><a class="nav-link {% if rm.namespace == 'users' %}active{% endif %}"
                           href="{% url 'users:profile' username=user.username %}">{% trans 'profile' %}</a></li>
                {% endif %}
            {% endwith %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                   aria-expanded="false">{% trans 'auth' %}</a>
                <ul class="dropdown-menu">
                    {% if not user.is_active %}
                        <li><a class="dropdown-item" href="{% url 'users:login' %}">{% trans 'login' %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:signup' %}">{% trans 'signup' %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:password_reset' %}">{% trans 'passreset' %}</a>
                        </li>
                    {% else %}
                        <form id="logout-form" action="{% url 'users:logout' %}" method="post" class="dropdown-item">
                            <a href="" onclick="document.getElementById('logout-form').submit(); return false;"
                               class="text-decoration-none text-reset">{% trans 'logout' %}</a>
                            {% csrf_token %}
                        </form>
                        <li><a class="dropdown-item"
                               href="{% url 'users:password_change' %}">{% trans 'passchange' %}</a></li>
                    {% endif %}
                </ul>
            </li>
            {% if user.is_superuser %}
                <li class="nav-item"><a href="{% url 'admin:index' %}" class="nav-link">{% trans 'admin' %}</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
